{{ partial "header.html" . }}

<div class="page-wrapper">
  <div class="sidebar-wrapper">
    <div class="logo-wrapper">
      <img class="logo" src="{{ .Site.Params.Logo }}" alt="Logo">
      <h2 class="sidebar-title">{{ .Site.Params.author }}</h2>
    </div>

    <div class="social-wrapper">
      {{ range .Site.Data.links }}
      <ul class="sidebar-link-list">
        {{ range . }}
          {{ range . }}
            <li>
              <a class="social-link" href="{{ .link }}"><i class="{{ .icon }}"></i>&nbsp{{ .linkText }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>

    <div class="sidebar-news hidden-desktop">
      {{ if isset .Params "news" }}
      <p><b>News:</b></br>{{ .Params.news | markdownify }}</p>
      {{ end }}
      {{ if isset .Params "about" }}
      <p><b>About me:</b></br>{{ .Params.about | markdownify }}</p>
      {{ end }}
      {{ if isset .Params "interests" }}
      <p><b>Research Interests:</b></br><em>{{ .Params.interests | markdownify }}</em></p>
      {{ end }}
      <p><b>Last content update:</b><br><em>{{ .Params.last_update }}</em></p>
      <hr>
    </div>

    <div class="sidebar-footer hidden-mobile">
      <hr>
      <p><b>Last content update:</b><br><em>{{ .Params.last_update }}</em></p>
      <hr>
      <p><b>Note:</b><br><em>{{ .Params.note | markdownify }}</em></p>
    </div>
  </div>

  <div class="main">
    <div class="meta">
      <h1>{{ .Title }}</h1>

      <div class="hidden-mobile">
        <hr>
        {{ if isset .Params "news" }}
        <p><b>News:</b></br>{{ .Params.news | markdownify }}</p>
        {{ end }}
        {{ if isset .Params "about" }}
        <p><b>About me:</b></br>{{ .Params.about | markdownify }}</p>
        {{ end }}
        {{ if isset .Params "interests" }}
        <p><b>Research Interests:</b></br><em>{{ .Params.interests | markdownify }}</em></p>
        {{ end }}

        {{ if (and .Params.toc .Params.toc_inline) }}
          <!--
          <aside style="float: right; padding-left: 30px; padding-bottom: 30px; width: 30%;">
          </aside>
          -->
            <hr>
            <h2 style="margin-top: 0px;">Contents</h2>
            {{ .TableOfContents }}
            <hr>
        {{ end }}

      </div>

    </div>

    {{ .Content }}

    <div class="main-footer">
      <hr>
      <p>{{ .Params.footer | markdownify }}</p>
    </div>
    <div class="footer-note hidden-desktop">
      <hr>
      <p><b>Note:</b><br><em>{{ .Params.note | markdownify }}</em></p>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
